@import "tailwindcss";

@font-face {
  font-family: 'DM';
  src: url('../public/fonts/DMSans-Regular.ttf');
}

*{
  font-family: 'DM', 'sans-sarif';
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.custom-container {
  margin: 0 312.5px;
  padding: 0 32px;
}


/* style start */

/* hero animation style start */

.iMaElx {
  top: 0;
  left: 0;
  right: 0;
}

/*!sc*/
data-styled.g1[id="Aurora__OuterWrapper-sc-8038013e-0"] {
  content: "iMaElx,"
}

/*!sc*/
.iWvFML {
  min-height: 390px;
  /* background: #fe9f4b; */
  background: #ec7082;
  position: relative;
  overflow: hidden;
  z-index: -101;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}

/*!sc*/
.iWvFML>div {
  position: absolute;
  -webkit-filter: blur(60px);
  filter: blur(60px);
  opacity: 0.8;
}

/*!sc*/
.iWvFML .one {
  border-radius: 70%;
  width: 500px;
  height: 500px;
  /* background-color: #b571f6; */
  background-color: #3C3CB0;
  left: -50px;
  top: -300px;
  z-index: 3;
  -webkit-animation: fly 9s linear infinite;
  animation: fly 9s linear infinite;
  -webkit-transform: rotate(0) translate(80px) rotate(0);
  -ms-transform: rotate(0) translate(80px) rotate(0);
  transform: rotate(0) translate(80px) rotate(0);
}

/*!sc*/
.iWvFML .two {
  width: 400px;
  height: 800px;
  /* background-color: #fb5b63; */
  background-color: #FD076F;
  bottom: -30px;
  left: -80px;
}

/*!sc*/
.iWvFML .three {
  border-radius: 100%;
  width: 450px;
  height: 750px;
  bottom: -80px;
  right: -100px;
  /* background-color: #329ac3; */
  background-color: #9E2665;
  -webkit-animation: flyPlus 5s linear infinite;
  animation: flyPlus 5s linear infinite;
  -webkit-transform: rotate(0) translate(100px) rotate(0);
  -ms-transform: rotate(0) translate(100px) rotate(0);
  transform: rotate(0) translate(100px) rotate(0);
}

/*!sc*/
.iWvFML .four {
  border-radius: 100%;
  width: 450px;
  height: 750px;
  bottom: -80px;
  left: 50%;
  right: 50%;
  top: 0;
  /* background-color: #ffcb57; */
  background-color: #9A269E;
  -webkit-animation: flyPlus 5s linear infinite;
  animation: flyPlus 5s linear infinite;
  -webkit-transform: rotate(0) translate(100px) rotate(0);
  -ms-transform: rotate(0) translate(100px) rotate(0);
  transform: rotate(0) translate(100px) rotate(0);
}

@keyframes fly {
  to {
    transform: rotate(1turn) translate(100px) rotate(-1turn)
  }
}

@keyframes flyPlus {
  to {
    transform: rotate(-1turn) translate(100px) rotate(1turn)
  }
}


@media (max-width: 873px) and (min-width: 768px) {
  .hero-title {
    font-size: 40px;
  }

  .hero-text {
    font-size: 14px;
  }
}

/* hero animation style end */


/* templates swiper slider style start */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide:hover .temp-img{
  overflow: hidden;
  transform: scale(1.1);
  transition: all 0.8s ease-out;
}

.still-data .temp-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.still-data:hover .temp-img{
  transform: scale(1.3);
}

.back-effect {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  inset: 0;
  opacity: 0;
}

.still-data:hover .back-effect {
  opacity: 1;
}

.back-effect .select-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 10px;
} 

.back-effect .select-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
} 

/*templates swiper slider style end */


/*reviews swiper slider style start */

.swiper-button-prev, .swiper-button-next {
  background-color: #B92753 !important;
  border-radius: 50% !important;
  width: 30px !important; /* Adjusted width */
  height: 30px !important; /* Adjusted height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 16px !important;
  color: #ffff !important;
  font-weight: bold !important;
}

/* Adjust positioning */
.swiper-button-prev{
  left: 2px !important; /* Move it slightly inside */
}

.swiper-button-next {
  right: 2px !important; /* Move it slightly inside */
}
/*reviews swiper slider style end */


/*loarder style start */
.loader {
  width: 84px;
  height: 84px;
  position: relative;
  overflow: hidden;
}
.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width:64px;
  height: 64px;
  border-radius: 50%;
  background:#FFF;
  transform: translate(-50% , 100%)  scale(0);
  animation: push 2s infinite ease-in;
}
.loader:after {
animation-delay: 1s;
}
@keyframes push {
    0% {
      transform: translate(-50% , 100%)  scale(1);
    }
    15% , 25%{
      transform: translate(-50% , 50%)  scale(1);
    }
  50% , 75% {
      transform: translate(-50%, -30%) scale(0.5);
    }
  80%,  100% {
      transform: translate(-50%, -50%) scale(0);
    }
}

.loader2{
  display: inline-block;
  text-align: center;
  line-height: 86px;
  text-align: center;
  position: relative;
  padding: 0 48px;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  }
  .loader2:before, .loader2:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
    top: 0;
  }
  .loader2:after {
    top: auto;
    bottom: 0;
  }
@keyframes load {
  0% {
    left: 0;
    height: 43px;
    width: 15px;
    transform: translateX(0)
  }
  50% {
    height: 10px;
    width: 40px
  }
  100% {
    left: 100%;
    height: 43px;
    width: 15px;
    transform: translateX(-100%)
  }
}


.loader3 {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader3:before,
.loader3:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader3:before {
  animation: ball1 1s infinite;
  background-color: #EC7082;
  box-shadow: 30px 0 0 #181966;
  margin-bottom: 10px;
}
.loader3:after {
  animation: ball2 1s infinite;
  background-color: #181966;
  box-shadow: 30px 0 0 #EC7082;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #181966;
  }
  50% {
    box-shadow: 0 0 0 #181966;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #181966;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #EC7082;
  }
  50% {
    box-shadow: 0 0 0 #EC7082;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #EC7082;
    margin-top: 0;
  }
}
    
/*loarder style end */

